[Unit]
Description=Tessera
After=syslog.target network.target

[Service]
User={{ tessera_user }}
Group={{ tessera_group }}
Environment=HOME=/home/{{ tessera_user }}
Type=simple
ExecStart=/bin/sh -c "TESSERA_OPTS='-Dlogback.configurationFile={{ tessera_config_dir }}/logback.xml' {{ tessera_install_dir }}/bin/tessera -configfile {{ tessera_config_dir }}/config.json &> {{ tessera_log_dir }}/tessera-{{ ansible_hostname }}.log | tee -a {{ tessera_log_dir }}/tessera-{{ ansible_hostname }}.log"
SuccessExitStatus=143
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target